<!DOCTYPE html>
<p><h1>Put in the name of a stock ticker to get the closing prices over the last 50 hours. This is great for knowing when to buy or sell.</h1></p>

<div ng-app="app">
    <div ng-controller="GraphController">
        Enter a number:
        <input type="string" ng-model="ticker" />
        <button ng-click="getData()">Fetch Data</button>

        <div>Answer: {{answer}}</div>
    </div>


</div>
<div id="tester" style="width:100%;height:100%;"></div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="jquery.js"></script>
<script>
var app = angular.module('app', []);

app.service('GraphService', function() {

  this.graph = function(data) {
    TESTER = document.getElementById('tester');
    if(data.length == 2){
      Plotly.plot( TESTER, data );
    }

  };

});


app.controller('GraphController', function($scope, GraphService) {

  $scope.getCloseData = function(){
    $scope.graphData = [];
    $.ajax({url: "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&interval=60min&outputsize=full&symbol=" + $scope.ticker + "&apikey=U2SWZSWXTDD7DV1D", success: function(result){
        //console.log(result);
        var maxData = 63;
        var data = {x: [], y: [], type: 'scatter'};
        data.name = $scope.ticker + ' Closing Price';

        Object.keys(result["Time Series (60min)"]).forEach(function (key) {
            //console.log(key);

            if(data.x.length > maxData * 24){
                return;
            }
            data.x.push(key);
            data.y.push(result["Time Series (60min)"][key]["4. close"]);
            // do something with obj[key]
        });

        $scope.graphData.push(data);
        console.log(data.x.length)
        GraphService.graph($scope.graphData);
    }});

  }

  $scope.getSMAData = function(){
    $scope.graphData = [];

    $.ajax({url: "https://www.alphavantage.co/query?function=SMA&interval=60min&outputsize=full&series_type=close&time_period=10&symbol=" + $scope.ticker + "&apikey=U2SWZSWXTDD7DV1D", success: function(result){
        //console.log(result);
        var maxData = 50;
        var data = {x: [], y: [], type: 'scatter'};
        data.name = $scope.ticker + ' SMA';

        Object.keys(result["Technical Analysis: SMA"]).forEach(function (key) {
            //console.log(key);

            if(data.x.length > maxData * 24){
                return;
            }
            data.x.push(key);
            data.y.push(result["Technical Analysis: SMA"][key]["SMA"]);
            // do something with obj[key]
        });

        $scope.graphData.push(data);
        console.log(data.x.length)
        GraphService.graph($scope.graphData);
    }});

  }

  $scope.getData = function(){
    $scope.getCloseData();
    $scope.getSMAData();

  }

});

</script>
